
.head{
    color: #3880ff;
    font-weight: bolder;
    letter-spacing: 1.5px;
    font-size: 150%;
    text-align: center;
    top: 25%;
    
}
    .but{
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 25px;
    
    }
    
    .forget{
        float: right;
    border: none;
    color: #3880ff;
    font-weight: 100;
    font-weight: bold
    }
.details{
    top:40%;
    transform: translatey(-50%);
    background: #fff;

  
}
.register{
    font-weight: bold;
    color: #3880ff;
    width: 200px;
    margin-left: 60%;
        transform: translateX(-50%);
}