
<ion-content  style="--ion-background-color: #fdfffd;" >



  <h4 class="head">
   EVENTOO
  </h4>
 
 <ion-card class="details" padding>    <form  #form="ngForm" (ngSubmit)="login(form)">

  <ion-item>
    <ion-label position="floating">
      Mobile No
    </ion-label>
    <ion-input name = "mobile" type="text" ngModel required></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">
        Password
      </ion-label>
      <ion-input name = "password" type="password" ngModel required></ion-input>
    </ion-item>

  <p class="forget">Forget Password ?</p>
    <ion-button class="but" type="submit"  [disabled]="!form.valid" color="primary" fill="solid">Login</ion-button>
    <p class="register">New User Register Here</p>
 </form>
</ion-card>



</ion-content>
